@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.mainLanding {
  @include centerFlex(flex, row, center, center, 0);
  cursor: default;
  .side {
    min-height: 225vh;
    display: flex;
    flex: 1;
    z-index: 100;
    background-color: #e0e0e0;
  }
  .mainSection {
    @include centerFlex(flex, column, center, center, 0);
    max-width: 1000px;
    .sectionLanding {
      @include centerFlex(flex, column, center, flex-start, 0.5rem);
      @include height(75vh, 75vh);
      position: relative;
      color: $primary-color;
      background-color: $white;
      padding: 1rem;
      z-index: 99;
      transition: 0.2s ease;
    }
    .scrolled1 {
      color: $white;
      background-color: transparent;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .title {
      font-size: 5rem;
    }
    .buttonContainer {
      @include centerFlex(flex, row, center, center, 0);
      @include width(100%, 100%);
      position: absolute;
      bottom: -1.2rem;
      left: 0;
      z-index: 99;
      button {
        @include button($white, 2px solid $primary-color);
        color: $primary-color;
        border-radius: 1rem;
        padding: 0.7rem 1rem;
        font-size: 1rem;
        transition: 0.2s ease;
        &:hover {
          color: $white;
          background-color: $primary-color;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        }
      }
    }
    .titleAbout {
      padding: 1rem 0;
      font-size: 1.9rem;
    }
    .textAbout {
      padding: 1rem 0;
    }
    .sectionForm {
      @include centerFlex(flex, row, center, center, 0);
      @include height(75vh, 75vh);
      @include width(100%, 100%);
      position: relative;
      background-color: $white;
      z-index: 99;
      color: $primary-color;
      transition: 0.2s ease;
      section {
        background-color: $secondary-color;
        div {
          h2 {
            background-color: #e0e0e0;
          }
        }
      }
    }
    .scrolled2 {
      color: $white;
      background-color: transparent;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      section {
        background-color: $white;
        div {
          h2 {
            background-color: $primary-grey;
          }
        }
      }
    }
  }
  .toggleButtonContainer {
    @include centerFlex(flex, row, flex-start, center, 0);
    @include width(100%, 100%);
    position: fixed;
    background-color: $primary-grey;
    top: 0;
    left: 0;
    padding: 0.2rem 0.45rem;
    z-index: 999;
    button {
      @include centerFlex(flex, row, center, center, 0);
      @include width(3rem, 3rem);
      @include height(3rem, 3rem);
      @include button(transparent, none);
      border-radius: 50%;
      svg {
        @include width(2.5rem, 2.5rem);
        @include height(2.5rem, 2.5rem);
        color: $white;
      }
      &:hover {
        @include button(#7e7e7e, none);
      }
    }
  }
}

.sectionAbout {
  @include height(75vh, 75vh);
  position: relative;
  background-color: $white;
  color: $primary-color;
  padding: 5.5rem 1rem;
  z-index: 98;
  transition: 0.2s ease;
}

.scrolled {
  color: $white;
  background-color: transparent;
  padding: 4.5rem 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
