@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.mainLanding {
  .sectionLanding {
    @include centerFlex(flex, column, center, flex-start, 0.5rem);
    @include height(75vh, 75vh);
    font-family: $primary-font;
    color: $white;
    background-color: $secondary-color;
    padding: 1rem;
    cursor: default;
  }
  .title {
    font-size: 5rem;
  }
}
