@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.mainLanding {
  cursor: default;
  .sectionLanding {
    @include centerFlex(flex, column, center, flex-start, 0.5rem);
    @include height(75vh, 75vh);
    position: relative;
    color: $white;
    padding: 1rem;
    z-index: 99;
    transition: 0.2s ease;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .sectionLandingNo {
    @include centerFlex(flex, column, center, flex-start, 0.5rem);
    @include height(75vh, 75vh);
    position: relative;
    color: $primary-color;
    background-color: $white;
    padding: 1rem;
    transition: 0.2s ease;
    h1 {
      filter: drop-shadow(-3px 0px 2px #5a5a5a);
    }
  }
  .particles {
    @include height(100%, 100%);
    overflow: hidden;
  }
  .title {
    font-size: 5rem;
  }
  .buttonContainer {
    @include centerFlex(flex, row, center, center, 0);
    @include width(100%, 100%);
    position: absolute;
    bottom: -1.2rem;
    left: 0;
    z-index: 99;
    button {
      @include button($white, 2px solid $primary-color);
      color: $primary-color;
      border-radius: 1rem;
      padding: 0.7rem 1rem;
      font-size: 1rem;
      transition: 0.2s ease;
      cursor: pointer;
      &:hover {
        color: $white;
        background-color: $primary-color;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
  .toggleButtonContainer {
    @include centerFlex(flex, row, flex-start, center, 0);
    @include width(100%, 100%);
    position: fixed;
    background-color: #5a5a5a;
    top: 0;
    left: 0;
    padding: 0.2rem 0.45rem;
    z-index: 999;
    button {
      @include centerFlex(flex, row, center, center, 0);
      @include width(3rem, 3rem);
      @include height(3rem, 3rem);
      @include button(transparent, none);
      border-radius: 50%;
      svg {
        @include width(2.5rem, 2.5rem);
        @include height(2.5rem, 2.5rem);
        color: $white;
      }
      &:hover {
        @include button(#7e7e7e, none);
      }
    }
  }
  .titleAbout {
    padding: 1rem 0;
    font-size: 1.9rem;
  }
  .textAbout {
    padding: 1rem 0;
  }
  .sectionForm {
    @include height(75vh, 75vh);
    position: relative;
    z-index: 99;
    transition: 0.2s ease;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .sectionFormNo {
    @include height(75vh, 75vh);
    position: relative;
    background-color: $white;
    transition: 0.2s ease;
  }
}

.sectionAbout {
  @include height(75vh, 75vh);
  position: relative;
  padding: 4.5rem 1rem;
  color: $white;
  z-index: 98;
  transition: 0.2s ease;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.sectionAboutNo {
  @include height(75vh, 75vh);
  position: relative;
  background-color: $white;
  padding: 5.5rem 1rem;
  color: $primary-color;
  transition: 0.2s ease;
}
