@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sectionForm {
  @include centerFlex(flex, column, space-between, center, 0);
  @include height(54.76vh, 54.76vh);
  @include width(21rem, 21rem);
  position: relative;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  div {
    @include centerFlex(flex, column, space-between, center, 0.23rem);
    @include width(100%, 100%);
    @include height(100%, 100%);
    flex: 1;
    form {
      @include centerFlex(flex, column, space-between, center, 0);
      @include width(100%, 100%);
      color: $white;
      flex: 1;
      h2 {
        @include width(100%, 100%);
        text-align: center;
        padding: 1rem;
      }
      .section1 {
        @include centerFlex(flex, row, center, center, 0.5rem);
        @include width(100%, 100%);
        padding: 0.5rem;
        div {
          @include centerFlex(flex, row, center, center, 0);
          @include width(9.65rem, 9.65rem);
          position: relative;
          label {
            position: absolute;
            right: 0.5rem;
            top: 0.77rem;
            color: red;
          }
          input {
            @include width(100%, 100%);
            @include height(4.7vh, 4.7vh);
            border-radius: 5px;
            border: 1px solid $third-color;
            padding-left: 0.5rem;
            font-size: 0.9rem;
          }
        }
      }
      .section2 {
        @include centerFlex(flex, row, center, center, 0.5rem);
        @include width(100%, 100%);
        padding: 0 0.5rem 0.5rem;
        div {
          @include centerFlex(flex, row, center, center, 0);
          @include width(9.65rem, 9.65rem);
          position: relative;
          div {
            position: relative;
            ul {
              @include width(100%, 100%);
              position: absolute;
              color: $white;
              background-color: $primary-grey;
              list-style: none;
              top: 4.7vh;
              z-index: 2;
              border-radius: 0 0 0.5rem 0.5rem;
              overflow: hidden;
              li {
                padding: 0.5rem;
                cursor: pointer;
                &:hover {
                  background-color: $secondary-grey;
                  color: $secondary-color;
                }
              }
            }
          }
          label {
            position: absolute;
            right: 0.5rem;
            top: 0.77rem;
            color: red;
          }
          input {
            @include width(100%, 100%);
            @include height(4.7vh, 4.7vh);
            border-radius: 5px;
            border: 1px solid $third-color;
            padding-left: 0.5rem;
            font-size: 0.9rem;
          }
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
          }
        }
      }
      .section3 {
        @include centerFlex(flex, column, center, center, 0.5rem);
        @include width(100%, 100%);
        padding: 0 0.5rem 0.5rem;
        div {
          @include centerFlex(flex, row, center, center, 0.5rem);
          @include width(19.69rem, 19.69rem);
          position: relative;
          label {
            position: absolute;
            right: 0.5rem;
            top: 0.77rem;
            color: red;
          }
          input {
            @include width(100%, 100%);
            @include height(4.7vh, 4.7vh);
            border-radius: 5px;
            border: 1px solid $third-color;
            padding-left: 0.5rem;
            font-size: 0.9rem;
          }
          textarea {
            @include width(100%, 100%);
            @include height(18.6vh, 18.6vh);
            border-radius: 5px;
            border: 1px solid $third-color;
            padding: 0.5rem;
            font-size: 0.9rem;
          }
        }
      }
      button {
        @include width(100%, 100%);
        @include height(3.1rem, 3.1rem);
        @include button(rgb(46, 118, 212), none);
        color: $white;
        font-size: 1.2rem;
        &:hover {
          background-color: rgb(24, 72, 134);
        }
      }
    }
  }
}

@media (min-width: 560px) {
  .sectionForm {
    @include width(30rem, 30rem);
    div {
      form {
        .section1 {
          @include centerFlex(flex, row, center, center, 2rem);
          div {
            label {
              left: -1.1rem;
              top: 0.77rem;
              color: red;
            }
            @include width(12rem, 12rem);
            input {
              font-size: 1rem;
            }
          }
        }
        .section2 {
          @include centerFlex(flex, row, center, center, 2rem);
          div {
            label {
              left: -1.1rem;
              top: 0.77rem;
              color: red;
            }
            @include width(12rem, 12rem);
            input {
              font-size: 1rem;
            }
          }
        }
        .section3 {
          div {
            label {
              left: -1.1rem;
              top: 0.77rem;
              color: red;
            }
            @include width(26rem, 26rem);
            input {
              font-size: 1rem;
            }
            textarea {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
