@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

$primary-color: #E05424;
$secondary-color: #E07524;
$third-color: #E19525;
$fourth-color: #E0AC24;
$fifth-color: #E0C324;
$font-color: #1A2D19;
$white: #ffffff;
$black: #070707;
$primary-font: 'Gabarito', sans-serif;
$primary-size: 2rem;